---
title: Release Notes for SMB Volume Service for PCF
owner: Partners
---

These are release notes for SMB Volume Service for PCF.

##<a id="ver"></a> v1.0.0

**Release Date:** December 1, 2017

Features included in this release:

* Support using Microsoft Azure File service as the persistent storage.
* Support using preexisting SMB shares as the persistent storage.